h2 {
    font-family: "Atma", Verdana, Geneva, Tahoma, sans-serif;
}

.contact-container {
    border: 5px solid #7cc34a
}

.subject-container {
    border: 5px solid #ed434c
}

.message-container {
    border: 5px solid #00a9c2
}

.container-name {
    font-family: "Atma", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.send-message {
    margin: 20px;
    padding: 10px;
}

.input-box {
    font-family: "Atma", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}