@import url('./variables.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

.solar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.solar-system {
    width: 100%;
    height: auto;
    max-width: 700px;
    border: 10px solid var(--orange);
    border-radius: 5px;
    box-sizing: border-box;
}

.star-constellation,
.globe-exhibit,
.big-dipper,
.evolution-man,
.dinosaur,
.head,
.heart,
.ai,
.headset,
.robot-hand,
.wind-turbine,
.world-in-hand,
.world-on-fire {
    width: 100%;
    height: auto;
    border: 4px solid var(--black);
    border-radius: 5px;
    width: calc(100% - 10px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cosmo-section,
.evolution,
.biology,
.robotics-and-ai,
.ecology {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cosmo-section {
    border: 10px solid var(--blue); 
    margin: 0px 20px;
}

.evolution,
.ecology {
    border: 10px solid var(--green); 
    margin: 20px 20px;
}

.biology {
    border: 10px solid var(--orange);
    margin: 20px 20px;
}

.robotics-and-ai {
    border: 10px solid  var(--pink);
    margin: 20px 20px;
}

.cosmos-1,
.cosmos-2,
.big-dipper-p {
    background: linear-gradient(180deg, rgba(0, 169, 194, 0.50) 0%, #FFF 100%);
    border: 4px solid var(--black);
    border-radius: 5px;
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.evolution-p-1,
.evolution-p-2,
.eco-p-1,
.eco-p-2  {
    background: linear-gradient(180deg, rgba(124, 195, 74, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%);
    border: 4px solid var(--black);
    border-radius: 5px;
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.bio-p-1,
.bio-p-2,
.bio-p-3 {
    background: linear-gradient(180deg, rgba(248, 155, 25, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%);
    border: 4px solid var(--black);
    border-radius: 5px;
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.ai-p-1,
.ai-p-2,
.ai-p-3 {
    background: linear-gradient(180deg, rgba(237, 67, 76, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%);
    border: 4px solid var(--black);
    border-radius: 5px;
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width:600px) {
   .solar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px auto;
        max-width: 700px;
        width: 100%;
    }

    .cosmo-container,
    .evolution-container,
    .biology-container,
    .robotics-and-ai-container,
    .ecology-container {
        padding: 20px;
        gap: 2rem;
    }

    .star-constellation,
    .globe-exhibit,
    .big-dipper,
    .evolution-man,
    .dinosaur,
    .head,
    .heart,
    .ai,
    .headset,
    .robot-hand,
    .wind-turbine,
    .world-in-hand,
    .world-on-fire {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        object-fit: cover;
    }

   .cosmo-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
    }

   .cosmos-1 {
        grid-column: 1;
        grid-row: 1;
        margin: 0;
    }

   .star-constellation {
        grid-column: 2;
        grid-row: 1;
    }

   .cosmos-2 {
        grid-column: 1;
        grid-row: 2;
        margin: 0;
    }

   .globe-exhibit {
        grid-column: 1;
        grid-row: 3;
    }

   .big-dipper {
        grid-column: 2;
        grid-row: 2;
    }

   .big-dipper-p {
        grid-column: 2;
        grid-row: 3;
        margin: 0;
    }

   .cosmos-1,
   .cosmos-2,
   .evolution-p-2,   
   .bio-p-1,
   .bio-p-2,
   .bio-p-3,  
   .ai-p-1,
   .ai-p-2,
   .ai-p-3,
   .eco-p-1,
   .eco-p-2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

   .big-dipper-p {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

   .evolution-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
    }

    .evolution-man {
        grid-column: span 2;
        grid-row: 1;
        margin: 0;
    }

    .evolution-p-1 {
        grid-column: span 2;
        grid-row: 2;
    }

    .dinosaur {
        grid-column: 1;
        grid-row: 3;
    }

    .evolution-p-2 {
        grid-column: 2;
        grid-row: 3;
        margin: 0;
    }

    .biology-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,fr);
    }

   .head {
        grid-column: 1;
        grid-row: 1;
        margin: 0;
    }

   .bio-p-1 {
        grid-column: 2;
        grid-row: 1;
        padding: 20px;
        margin: 0;
    }

   .bio-p-2 {
        grid-column: span 2;
        grid-row: 2;
        margin: 0;
        padding: 20px;

    }

   .heart {
        grid-column: 1;
        grid-row: 3;
        margin: 0;
    }

   .bio-p-3 {
        grid-column: 2;
        grid-row: 3;
        margin: 0;
        padding: 20px;
    }

    .robotics-and-ai-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
    }

   .ai {
        grid-column: 1;
        grid-row: 1;
        margin: 0;
    }

   .ai-p-1 {
        grid-column: 1;
        grid-row: 2;
        margin: 0;
    }

   .headset {
        grid-column: 2;
        grid-row: span 2;
        margin: 0;
    }

   .ai-p-2 {
        grid-column: 1;
        grid-row: span 2;
        margin: 0;
    }

   .ai-p-3 {
        grid-column: 2;
        grid-row: 3;
        margin: 0;
    }

   .robot-hand {
        grid-column: 2;
        grid-row: 4;
        margin: 0;
    }

    .ecology-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
    }

   .wind-turbine {
        grid-column: 1;
        grid-row: span 2;
        margin: 0;

    }

   .eco-p-1 {
        grid-column: 2;
        grid-row: 2;
        margin: 0;
    }

   .world-in-hand {
        grid-column: 2;
        grid-row: 1;
        margin: 0;
    }

   .eco-p-2 {
        grid-column: 1;
        grid-row: 3;
        margin: 0;

    }

   .world-on-fire {
        grid-column: 2;
        grid-row: 3;
        margin: 0;
    }
}

@media (min-width:900px) {
    .cosmo-container { 
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
        
   .cosmos-1 {
        grid-column: 1;
        grid-row: span 2;
   }

   .star-constellation {
        grid-column: 2;
        grid-row: span 2;
   }

   .cosmos-2 {
        grid-column: 3;
        grid-row: 1;
   }

   .globe-exhibit {
        grid-column: 3;
        grid-row: 2;
   }

   .big-dipper {
        grid-column: 4;
        grid-row: 1;
   }

   .big-dipper-p {
        grid-column: 4;
        grid-row: 2;
   }

   .cosmos-1,
   .cosmos-2,   
   .big-dipper-p {
        padding: 20px;
   }

   .evolution-container {
        display: grid;
        gap: 2.2rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        padding: 10px 10px 20px 10px;
    }

    .evolution-man {
        grid-column: 1;
        grid-row: 1;
    }

    .evolution-p-1 {
        grid-column: 1;
        grid-row: 2;
        margin: 0;
    }

    .dinosaur {
        grid-column: 2;
        grid-row: span 2;
    }

    .evolution-p-2 {
        grid-column: 3;
        grid-row: span 2;
    }

    .evolution-p-1,
    .evolution-p-2 {
        display: flex;
        align-items: center;
        justify-self: stretch;
    }

    .biology-container { 
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }
        
   .head {
        grid-column: 1;
        grid-row: 1;
   }

   .bio-p-1 {
        grid-column: 1;
        grid-row: 2;
   }

   .bio-p-2 {
        grid-column: 2;
        grid-row: span 2;
   }

   .heart {
        grid-column: 3;
        grid-row: 1;
   }

   .bio-p-3 {
        grid-column: 3;
        grid-row: 2;
   }

   .bio-p-1,
   .bio-p-2,
   .bio-p-3 {
        display: flex;
        align-items: center;
        justify-self: stretch;
        padding: 30px;
   }

   .robotics-and-ai-container { 
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
    }
        
    .ai {
        grid-column: 1;
        grid-row: 1;
    }

    .ai-p-1 {
        grid-column: 1;
        grid-row: 2;
    }

    .headset {
        grid-column: 2;
        grid-row: span 2;
    }

    .ai-p-2 {
        grid-column: 3;
        grid-row: span 2;
    }

    .ai-p-3 {
        grid-column: 4;
        grid-row: 2;
    }

    .robot-hand {
        grid-column: 4;
        grid-row: 1;
    }

    .ai-p-1,
    .ai-p-2,
    .ai-p-3 {
        display: flex;
        align-items: center;
        justify-self: stretch;
        padding: 30px;
    }
    
    .ecology-container { 
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }
        
    .wind-turbine {
        grid-column: 1;
        grid-row: span 2;
    }

    .eco-p-1 {
        grid-column: 2;
        grid-row: 2;
    }

    .world-in-hand {
        grid-column: 2;
        grid-row: span 1;
    }

    .eco-p-2 {
        grid-column: 3;
        grid-row: 1;
    }

    .world-on-fire {
        grid-column: 3;
        grid-row: 2;
    }

    .eco-p-1,
    .eco-p-2 {
        display: flex;
        align-items: center;
        justify-self: stretch;
        padding: 30px;
    }
}

