@import url('./variables.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

.world-container {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 20px;
    width: calc(100% - 40px);
}

.world {
    width: 100%;
    height: auto;
    max-width: 100%;
    border: 10px solid var(--green);
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.kids-section {
    border: 10px solid var(--blue); 
    margin: 0px 20px;
}

.kids-section,
.teachers-section,
.researchers-section {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.teachers-section {
    border: 10px solid var(--pink); 
    margin: 20px 20px;
}

.researchers-section {
    border: 10px solid var(--green); 
    margin: 20px 20px;
}

.k-p-1,
.k-p-2,
.k-p-3,
.k-p-4,
.t-p-1,
.t-p-2,
.r-p-1,
.r-p-2  {
    padding: 30px;
    margin: 0 10px;
    border: 5px solid var(--black);
    border-radius: 5px;
    margin: 0 0 15px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.k-p-1,
.k-p-2,
.k-p-3,
.k-p-4 {
    background: linear-gradient(180deg, rgba(0, 169, 194, 0.50) 0%, #FFF 100%);
}

.t-p-1,
.t-p-2 {
    background: linear-gradient(180deg, rgba(237, 67, 76, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%);
}

.r-p-1,
.r-p-2 {
    background: linear-gradient(180deg, rgba(124, 195, 74, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%);
}

.star-exhibition,
.kids-chemistry,
.mammoth,
.star-club,
.school-trip,
.kids-experiment,
.library,
.researchers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border: 5px solid var(--black);
    border-radius: 5px;
    margin-bottom: 15px;
    width: calc(100% - 10px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width:600px) {
    .world {
        width: 100%;
        max-width: 860px;
        margin: 20px 100px 0 100px;
    }

    .kids-grid,
    .teachers-grid,
    .researchers-grid {
        padding: 20px;
        gap: 2rem;
    }

    .kids-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(6, auto);
    }

    .k-p-1 {
        grid-column: 1;
        padding: 15px;
        margin: 0;
    }

    .star-exhibition {
        grid-column: 2;
        height: 225px;
        object-fit: cover;
        margin: 0;
    }

    .kids-chemistry {
        grid-column: span 2;
        height: 250px;
        object-fit: cover;
        margin: 0;
    }

    .k-p-2 {
        grid-column: span 2;
        margin: 0;
    }

    .mammoth {
        grid-column: span 2;
        height: 200px;
        object-fit: cover;
        margin: 0;
    }

    .k-p-3 {
        grid-column: 1;
        padding: 15px;
        margin: 0;
    }

    .star-club {
        grid-column: 2;
        height: 200px;
        margin: 0;
        object-fit: cover;
        box-sizing: border-box;
    }

    .k-p-4 {
        grid-column: span 2;
        margin: 0;
    }

    .k-p-1,
    .k-p-2,
    .k-p-3,
    .k-p-4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .teachers-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;

    }

    .school-trip {
        grid-column: 1;
        grid-row: span 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-sizing: border-box;
    }

    .t-p-1 {
        grid-column: 2;
        grid-row: span 2;
        margin: 0;
    }

    .kids-experiment {
        grid-column: 1;
        grid-row: 3;
        width: 100%;
        height: 265px;
        object-fit: cover;
        box-sizing: border-box;
    }

    .t-p-2 {
        grid-column: 2;
        grid-row: 3;
        box-sizing: border-box;
    }

    .t-p-1,
    .t-p-2 {
        display: flex;
        text-align: justify;
        align-items: center;
        padding: 30px;
    }

    .researchers-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
    }

    .library {
        grid-column: 1;
        grid-row: span 2;
        height: 100%;
        object-fit: cover;
        box-sizing: border-box;
    }

    .r-p-1 {
        grid-column: 2;
        grid-row: span 2;
        height: 100%;
        box-sizing: border-box;
    }

    .researchers {
        grid-column: 1;
        grid-row: 3;
        height: 100%;
        object-fit: cover;
        box-sizing: border-box;
    }

    .r-p-2 {
        grid-column: 2;
        grid-row: 3;
        height: 100%;
        box-sizing: border-box;
    }

    .r-p-1,
    .r-p-2 {
        display: flex;
        text-align: justify;
        align-items: center;
    }
}

@media (min-width:875px) {
    .kids-grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,auto);
        gap: 2rem;
    }

    .k-p-1 {
        grid-column: 1;
        grid-row: 1;
    }

    .star-exhibition {
        grid-column: 2;
        grid-row: 1;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .kids-chemistry {
        grid-column: 3;
        grid-row: 1;
    }

    .k-p-2 {
        grid-column: span 2;
        grid-row: 2;
    }

    .mammoth {
        grid-column: 3;
        grid-row: 2;
    }

    .k-p-3 {
        grid-column: 1;
        grid-row: 3;
    }

    .star-club {
        grid-column: 2;
        grid-row: 3;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .k-p-4 {
        grid-column: 3;
        grid-row: 3;
    }

    .teachers-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
        padding: 20px;
    }

    .school-trip {
        grid-column: 1;
        grid-row: span 2;
        width: 100%;
        object-fit: cover;
    }

    .t-p-1 {
        grid-column: 2;
        grid-row: span 2;
    }

    .kids-experiment {
        grid-column: 3;
        grid-row: 1;
        height: 100%;
    }

    .t-p-2 {
        grid-column: 3;
        grid-row: 2;
        height: 100%;
    }

    .researchers-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
        padding: 20px;
    }

    .library {
        grid-column: 1;
        grid-row: 1;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .r-p-1 {
        grid-column: 1;
        grid-row: 2;
        height: 100%;
    }

    .researchers {
        grid-column: 2;
        grid-row: span 2;
        height: 100%;
        width: 100%;
        object-fit: cover;
        box-sizing: border-box;
    }

    .r-p-2 {
        grid-column: 3;
        grid-row: span 2;
        height: 100%;
        box-sizing: border-box;
    }
}

@media (min-width:1210px) {
    .kids-section,
    .teachers-section,
    .researchers-section {
        margin: 30px 150px ;
        padding: 20px 50px;
    }
}

















