@import url('./variables.css');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

.heart-hands {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    border: 10px solid var(--pink); 
    border-radius: 5px;
    margin: 20px auto;
    width: calc(100% - 40px);
}

.support-container,
.volunteer-container,
.internship-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 5px;
    padding: 10px 20px;
}

.support-container {
    border: 10px solid var(--green); 
}

.volunteer-container {
    border: 10px solid var(--pink); 
}

.internship-container {
    border: 10px solid var(--blue); 
}

.money-jar,
.volunteer,
.internship {
    width: 100%;
    height: auto;
    border: 5px solid var(--black);
    border-radius: 5px;
}

.support-p,
.volunteer-p,
.internship-p {
    padding: 30px;
    margin: 20px 0px;
    border: 5px solid var(--black);
    border-radius: 5px;
}

.support-p {
    background: var(--gradient-green);
}

.volunteer-p {
    background: var(--gradient-pink);
}

.internship-p {
    background: var(--gradient-blue);
}

@media (min-width:600px) {
    .heart-hands {
        margin: 30px auto;
        max-width: 700px;
    }
    
    .support-container,
    .volunteer-container,
    .internship-container {
        padding: 30px 40px;
        margin: 30px 50px;
    }
}

@media (min-width:875px) {
    .support-container,
    .internship-container {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        padding: 20px 30px;
        margin: 30px 60px;
    }

    .money-jar,
    .internship {
        grid-column: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .support-p,
    .internship-p {
        grid-column: 2;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 40px;
    }

    .cta-container {
        grid-column: span 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .volunteer-container {
        padding: 30px;
        margin: 30px 60px;
    }
}

@media (min-width:1135px) {
    .support-container,
    .volunteer-container {
        margin: 30px 150px ;
        padding: 20px 50px;
    }
    
    .internship-container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin: 30px 150px ;
        padding: 20px 50px;
        align-items: stretch;
    }

    .internship {
        height: 600px;
        object-fit: cover;
    }

    .internship-p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }
}

@media (min-width:1300px) {
    .volunteer-container {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        margin: 30px 150px ;
        padding: 20px 50px;
    }

    .volunteer {
        grid-column: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .volunteer-p {
        grid-column: 2;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}