.dino-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #f89b19;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.welcome {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.welcome-to,
.new  {
    display: block;
}

.come-join-container {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
    padding: 10px;
    border: 10px solid #00a9c2;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.come-join {
    padding: 30px;
    margin: 10px;
    background: linear-gradient(180deg, rgba(0, 169, 194, 0.50) 0%, #FFF 100%);
    border: 3px solid #000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.exhibition-room-container {
    display: flex;
    justify-content: center;
    margin: 0px 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.exhibition-room {
    width: 100vh;
    max-width: 100%;
    height: auto;
    border: 10px solid #ed434c;
    margin: 0px 30px;
    border-radius: 5px;
}

.window-display-container {
    display: flex;
    justify-content: center;
    margin: 20px 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.window-display {
    width: 100vh;
    max-width: 100%;
    height: auto;
    border: 10px solid #7cc34a;
    border-radius: 5px;
}

.globe-display-container {
    display: flex;
    justify-content: center;
    margin: 0px 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.globe {
    width: 100vh;
    max-width: 100%;
    height: auto;
    border: 10px solid #00a9c2;
    border-radius: 5px;
}

.the-aim-container {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
    padding: 10px;
    border: 10px solid #f89b19;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.the-aim {
    padding: 30px;
    margin: 10px;
    background: linear-gradient(180deg, rgba(248, 155, 25, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%);
    border: 3px solid #000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.explore-container,
.exhibition-container,
.special-events-container,
.visit-container,
.get-involved-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 20px;
    padding: 0px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.explore-container {
    border: 10px solid #00a9c2; 
}

.exhibition-container {
    border: 10px solid #7cc34a;
}

.special-events-container {
    border: 10px solid #ed434c;
}

.visit-container {
    border: 10px solid #7cc34a;
}

.get-involved-container {
    border: 10px solid #00a9c2; 
}

.explore-bullets {
    padding: 30px;
    margin: 10px;
    background: linear-gradient(180deg, rgba(0, 169, 194, 0.50) 0%, #FFF 100%);
    border: 3px solid #000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.exhibition-bullets {
    padding: 30px;
    margin: 10px;
    background: linear-gradient(180deg, rgba(124, 195, 74, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%);
    border: 3px solid #000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.special-events-bullets {
    padding: 30px;
    margin: 10px;
    background: linear-gradient(180deg, rgba(237, 67, 76, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%);
    border: 3px solid #000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.visit-bullets {
    padding: 30px;
    margin: 10px;
    background: linear-gradient(180deg, rgba(124, 195, 74, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%);
    border: 3px solid #000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.get-involved-bullets {
    padding: 30px;
    margin: 10px;
    background: linear-gradient(180deg, rgba(0, 169, 194, 0.50) 0%, #FFF 100%);
    border: 3px solid #000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.color-display {
    width: 100%;
    height: auto;
    border: 10px solid #f89b19;
    margin: 0 30px;
    border-radius: 5px;
}

.color-display-container {
    display: flex;
    align-items: center;
    margin: 0 30px 20px 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cta-container {
    margin-top: auto;
}

@media (min-width:600px) {
    .dino-homepage {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        width: 100%;
        object-fit: cover;
        width: calc(100% - 300px);
        margin: 0 150px;
    }

    .welcome-to,
    .new  {
    display: inline;
}

    .images-row {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .exhibition-room-container,
    .window-display-container,
    .globe-display-container  {
        width: 33%;
        margin: 20px;
    }

    .exhibition-room,
    .globe {
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }

    .come-join-container,
    .the-aim-container,{
        margin: 30px 50px;
    }

    .explore-container,
    .exhibition-container,
    .special-events-container,
    .visit-container,
    .get-involved-container {
        max-width: 200px;
        display: flex;
        margin: 0;
    }

    .color-display-container {
        width: 230px;
        margin: 0;
    }

    .color-display {
        width: 230px;
        height: 440px;
        object-fit: cover;
        margin: 0px;
    }

    .the-containers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        margin: 0 20px 20px 20px;
        gap: 20px;
        width: calc(100% - 40px);
    }
}

@media (min-width:950px) {
    .explore-container,
    .exhibition-container,
    .special-events-container,
    .visit-container,
    .get-involved-container {
        max-width: 220px;
        display: flex;
        margin: 10px;
    }
    
    .color-display-container {
        width: 260px;
        margin: 0;
    }
    
    .color-display {
        width: 260px;
        height: 440px;
        object-fit: cover;
        margin: 20px;
    }
    
    .row-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 0 20px;
        width: calc(100% - 40px);
    }
}
  
@media (min-width:1215px) {
    .explore-container,
    .exhibition-container,
    .special-events-container,
    .visit-container,
    .get-involved-container {
        width: 100%;
        max-width: 320px;
        height: 450px;
    }
    
    .color-display-container {
        width: 340px;
        height: 430px;
    }
    
    .color-display {
        width: 330px;
        height: 430px;
        object-fit: cover;
    }

    .the-containers {
        display: flex;
        align-items: stretch;

    }
    
}
