@import url('./variables.css');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

.rocket {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border: 10px solid var(--green);
    box-sizing: border-box;
    border-radius: 5px;
    margin: 20px;
    width: calc(100% - 40px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.professor-grid,
.museum-grid,
.energetica-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
}

.professor,
.museum-at-night,
.energetica-machine {
    width: 100%;
    height: auto;
    border: 5px solid var(--black);
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.professor-container,
.night-museum-container,
.energetica-container {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dates-1,
.professor-p,
.dates-2,
.night-museum-p,
.dates-3,
.energetica-p {
    padding: 30px;
    border: 5px solid var(--black);
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px var(--shadow);

}

.dates-1,
.professor-p {
    background: var(--gradient-blue);
}

.dates-2,
.night-museum-p {
    background: var(--gradient-pink);
}

.dates-3,
.energetica-p {
    background: var(--gradient-green);
}

.professor-container {
    border: 10px solid var(--blue); 
    margin: 0px 20px;
}

.night-museum-container {
    border: 10px solid var(--pink);
    margin: 20px;
}

.energetica-container {
    border: 10px solid var(--green);
    margin: 0px 20px 20px 20px;
}

@media (min-width:750px) {
    .rocket {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px auto;
        width: calc(100% - 200px);
        max-width: 860px;
    }
    
    .professor-grid,
    .museum-grid,
    .energetica-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 20px;
    }

    .dates-1,
    .dates-2,
    .dates-3 {
        grid-column: 1;
        grid-row: 1;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .professor,
    .museum-at-night,
    .energetica-machine {
        grid-column: 1;
        grid-row: 2;
        margin: 0;
        align-self: stretch;
        object-fit: cover;
    }

    .professor-p,
    .night-museum-p,
    .energetica-p {
        grid-column: 2;
        grid-row: span 2;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:1000px) {
    .professor-container,
    .night-museum-container,
    .energetica-container {
        margin: 30px 150px ;
        padding: 20px 50px;
    }

    .professor-grid,
    .museum-grid,
    .energetica-grid {
        padding: 30px;
        display: grid;
        gap: 2.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .dates-1,
    .dates-2,
    .dates-3 {
        grid-column: 1;
        grid-row: 1;
    }

    
    .professor,
    .museum-at-night,
    .energetica-machine {
        grid-column: 2;
        grid-row: span 2;
    }

    .professor-p,
    .night-museum-p,
    .energetica-p {
        grid-column: 1;
        grid-row: 2;
    }
}