.museum {
    width: 100%;
    height: 200px;
    max-width: 100%;
    object-fit: cover;
    border: 10px solid #ed434c;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px 20px;
    width: calc(100% - 40px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.location-container {
    border: 10px solid #7cc34a; 
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.location-info-container,
.free-for-all,
.accessibility-p {
    padding: 20px;
    background: linear-gradient(180deg, rgba(124, 195, 74, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%);
    border: 5px solid #000;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.map-container {
    height: auto;
    max-width: 100%;
    border: 5px solid #000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.map-container iframe {
    width: 100%;
    height: 300px;
}

.exhibition-visit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 20px;
    width: calc(100% - 60px);
    border: 10px solid #f89b19;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.admission-container {
    border: 10px solid #7cc34a; 
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tour-container {
    border: 10px solid  #ed434c; 
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tour-p,
.shop-p {
    padding: 20px;
    background: linear-gradient(180deg, rgba(237, 67, 76, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%);
    border: 5px solid #000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.opening-hours {
    border: 10px solid  #00A9C2; 
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hours {
    padding: 20px;
    background: linear-gradient(180deg, rgba(0, 169, 194, 0.50) 0%, #FFF 100%);
    border: 5px solid #000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.opening-hours p {
    margin-bottom:  10px;
}

.opening-hours span {
    font-weight: bold;
    margin-right: 20px;
}

.accessibility {
    border: 10px solid #7cc34a; 
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.wheelchair {
    width: 100%;
    height: auto;
    width: calc(100% - 10px);
    border: 5px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.food-and-drink {
    border: 10px solid #f89b19;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.food {
    width: 100%;
    height: auto;
    width: calc(100% - 10px);
    border: 5px solid #000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.food-p {
    padding: 20px;
    background: linear-gradient(180deg, rgba(248, 155, 25, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%);
    border: 5px solid #000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.museum-shop {
    border: 10px solid  #ed434c; 
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.shop {
    width: 100%;
    height: auto;
    border: 5px solid #000;
    border-radius: 5px;
    width: calc(100% - 10px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width:600px) {
    .museum {
        margin: 20px 50px 0 60px;
        width: calc(100% - 120px);
        height: 300px;
    }

    .exhibition-visit {
        margin: 20px 50px;
        width: calc(100% - 120px);
    }

    .location-container,
    .admission-container,
    .tour-container,
    .opening-hours,
    .accessibility,
    .food-and-drink,
    .museum-shop {
        margin: 20px 50px;
    }
}


@media (min-width: 875px) {
    .museum {
        margin: 0px 150px;
        width: calc(100% - 300px);
        height: 400px;
    }

    .visit-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        margin: 0;
        gap: 2rem;
        padding: 10px 20px 20px 20px;
    }

    .location-container {
        grid-column: 1;
        grid-row: 1;
        margin: 0;
    }

    .shared-cell {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 40px;
    }

    .exhibition-visit {
        margin: 0;
        width: 100%;
        height: 545px;
        object-fit: cover;
        box-sizing: border-box;
    }

    .admission-container {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .tour-container {
        grid-column: 1;
        grid-row: 2;
        margin: 0;
    }

    .opening-hours {
        grid-column: 2;
        grid-row: 2;
        margin: 0;
    }

    .accessibility {
        grid-column: 1;
        grid-row: 3;
        margin: 0;
    }

    .food-and-drink {
        grid-column: 2;
        grid-row: 3;
        margin: 0;
    }

    .museum-shop {
        grid-column: span 2;
        margin: 0;
    }
}

@media (min-width: 1000px) {
    .museum {
        margin: 30px 150px;
        width: calc(100% - 300px);
        height: 600px;
    }
    
    .visit-grid {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        gap: 2rem;
        margin: 20px 50px;
    }

    .location-container {
        grid-column: span 2;
        grid-row: 1;
    }

    .shared-cell {
        grid-column: 3;
        grid-row: 1;
        display: flex;
        flex-direction: column;
    }

    .tour-container {
        grid-column: 1;
        grid-row: 2;
    }

    .opening-hours {
        grid-column: 2;
        grid-row: 2;
    }

    .accessibility {
        grid-column: 3;
        grid-row: 2;
    }

    .food-and-drink {
        grid-column: 1;
        grid-row: 3;
    }

    .food,
    .shop {
        height: 300px;
        object-fit: cover;
    }

    .museum-shop {
        grid-column: span 2;
        grid-row: 3;
    }

    .shop-p {
        padding: 35px;
    }
}



